h1 {
    font-weight: bold;
}

table {
    border-spacing: 1em 0.5em;
    padding: 0 2em 1em 0;
  }
  
  td {
    box-shadow:3px 3px 3px rgba(0,0,0,0.5);
    padding: 3px;
    border: solid black 1px;
    border-radius: 5px;
    shape-rendering: black;
  }

  