.all {
    margin: .625rem;
    display: flex;
    flex-wrap: wrap;
}
.paragraph1 {
         display: inline-block;
         width: 28.125rem;
         border: .125rem rgb(154, 149, 149) solid;
         font-size: 1.25rem;
         position: relative;
        
}

.paragraph2 {
    display: inline-block;
    width: 28.125rem;
    border: .125rem rgb(154, 149, 149) solid;
    font-size: 1.25rem;
    position: absolute;
    left: 31.25rem;
}

.paragraph3 {
    display: inline-block;
    width: 28.125rem;
    border: .125rem rgb(154, 149, 149) solid;
    font-size: 1.25rem;
    position: absolute;
    left: 61.25rem;
   
}


h2 {
    font-size: 1.875rem;
    padding: 0rem .625rem;
}

p {
    padding-bottom: 4.125rem;
    padding-left: 1.6rem;
}

footer {
    padding: .625rem .625rem;
    background-color: rgb(68, 66, 66);
    color: white;
    bottom: 0rem;
}

.text {
    padding-bottom: 0rem;
}


@media (max-width:1023px) {
    .paragraph3 {
        display: inline-block;
        width: 21.875rem;
        border: .0625rem rgb(154, 149, 149) solid;
        font-size: .9375rem;
        position: absolute;
        left: 61.25rem;
       
    }
}
